name: CI

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
  schedule:
    # Triggers every week on tuesday night
    - cron:  '0 0 * * 2'

env:
  DOCKER_REPO: godatadriven/pyspark

jobs:
  build:
    name: build
    runs-on: ubuntu-latest
    strategy:
      matrix:
        DOCKER_TAG: ["3.3.0,3.3,latest", "3.2.2,3.2", "3.1.3,3.1", "2.4.5,2.4"]
        DEBIAN_RELEASE: ["", "-buster"]

    timeout-minutes: 30
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Parse args
        id: args
        run: |
            DOCKER_TAG="${{ matrix.DOCKER_TAG }}"
            DEBIAN_RELEASE="${{ matrix.DEBIAN_RELEASE }}"
            
            SPARK_MAJOR_VERSION=${DOCKER_TAG:0:1}
            if [ ${SPARK_MAJOR_VERSION} = "3" ]; then
                OPENJDK_VERSION=11
            else
                OPENJDK_VERSION=8
            fi
            
            BUILD_ARGS="OPENJDK_VERSION=${OPENJDK_VERSION}
                        SPARK_VERSION=${DOCKER_TAG%%,*}
                        DEBIAN_RELEASE=${DEBIAN_RELEASE}"

            BUILD_ARGS="${BUILD_ARGS//'%'/'%25'}"
            BUILD_ARGS="${BUILD_ARGS//$'\n'/'%0A'}"
            BUILD_ARGS="${BUILD_ARGS//$'\r'/'%0D'}"

            echo "::set-output name=build_args::$BUILD_ARGS"

      - name: Prepare
        id: prep
        run: |
            DOCKER_TAG="${{ matrix.DOCKER_TAG }}"
            DEBIAN_RELEASE="${{ matrix.DEBIAN_RELEASE }}"
            DOCKER_IMAGE_NAME="$DOCKER_REPO:${DOCKER_TAG%%,*}$DEBIAN_RELEASE"
            echo ::set-output name=image_name::${DOCKER_IMAGE_NAME}
            
            TAGS="$DOCKER_REPO:${DOCKER_TAG//,/$DEBIAN_RELEASE,$DOCKER_REPO:}$DEBIAN_RELEASE"
            echo ::set-output name=tags::${TAGS}

            echo ::set-output name=created::$(date -u +'%Y-%m-%dT%H:%M:%SZ')

      - name: Build image
        uses: docker/build-push-action@v2
        with:
         context: .
         file: ./Dockerfile
         push: false
         tags: ${{ steps.prep.outputs.tags }}
         build-args: |
           ${{ steps.args.outputs.build_args }}
         labels: |
           org.opencontainers.image.source=${{ github.event.repository.clone_url }}
           org.opencontainers.image.created=${{ steps.prep.outputs.created }}
           org.opencontainers.image.revision=${{ github.sha }}

      - name: Test image
        env:
            IMAGE_NAME: ${{ steps.prep.outputs.image_name }}
        run: |
            if [[ -f "docker-compose.test.yml" ]]; then
                docker-compose --file docker-compose.test.yml build
                docker-compose --file docker-compose.test.yml run sut
            fi

      - name: Login to DockerHub
        if: github.ref == 'refs/heads/master'
        uses: docker/login-action@v1 
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB }}

      - name: Push image
        if: github.ref == 'refs/heads/master'
        run: |
            docker push --all-tags $DOCKER_REPO

      - name: Report Status
        if: always() && github.ref == 'refs/heads/master'
        uses: ravsamhq/notify-slack-action@master
        with:
          status: ${{ job.status }}
          notify_when: 'failure'
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_GDD_GENERAL_WEBHOOK }}
